<div class="w-full">
    <div class="flex flex-col">
        <div class="bg-(--color-dark-blue) h-7"></div>
        <div class="bg-(--color-light-blue) h-3"></div>
        <div class="p-4">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row gap-x-5">
                    <div>
                        <app-ufrn-logo />
                    </div>
                    <div>

                    </div>
                    <div class="font-(--font-inter) text-gray-400 uppercase">
                        Universidade Federal do Rio Grande do Norte
                    </div>
                </div>
                <div>
                    <!-- Botão para modo escuro -->
                </div>
            </div>
        </div>
    </div>
</div>